.container{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.title{
  font-family: 'Righteous', cursive;
  border: solid 1px lightblue;
  text-align: center;
}

.bold{
  font-weight:bold;
}

.available{
  background-color: darkgray;
  color: yellow;
}

#soldOut{
  position: absolute;
  top: 60px;
  left: 620px;
}

.card-body{
  font-family: 'Comfortaa', cursive;
}

p:nth-child(1){
  text-align: justify;
  word-spacing: -2px;
}

.card{
  max-width: 33%;
  flex:1 33% ;
}
